@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.stop-body-scrolling {
  overflow: hidden;
  position: fixed;
}

.icons-background-image {
  background-image: url("/icons/icons.png");
}

.transparent-arrow {
  background-repeat: no-repeat;
  background-size: 440px 411px;
  background-position: -160px -97px;
  height: 30px;
  width: 30px;
}
